In [5]:
def sclar_vector_product(scalar, vector):
    result = []
    for value in vector:
        result.append(scalar * value)
    return result

iteration_max = 10000

vector = list(range(iteration_max))
scalar = 2

for _ in range(iteration_max):
    sclar_vector_product(scalar, vector)

In [2]:
iteration_max = 10000

vector = list(range(iteration_max))
scalar = 2

for _ in range(iteration_max):
    [scalar * value for value in range(iteration_max)]

- enumerate() 함수

In [3]:
print({i:j for i, j in enumerate('TEAMLAB is an academic institute located in South Korea.'.split())})

{0: 'TEAMLAB', 1: 'is', 2: 'an', 3: 'academic', 4: 'institute', 5: 'located', 6: 'in', 7: 'South', 8: 'Korea.'}

    for문을 대괄호로 묶으면 list, 대괄호로 묶으면 dictionary comprehension이 됨.
        - 인덱스를 key, 단어를 값으로 묶어 출력한다.

In [6]:
di = {i: j for i, j in enumerate('t e s t'.split())}

print(di)

{0: 't', 1: 'e', 2: 's', 3: 't'}

- zip() 함수
    - 1개 이상의 리스트 값이 같은 인덱스에 있을 때 병렬로 묶는 함수

In [7]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']

for a, b in zip(alist, blist):
    print(a, b)

a1 b1
a2 b2
a3 b3

In [8]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']
clist = ['c1', 'c2', 'c3']

for z1 in zip(alist, blist, clist):
    print(z1)

('a1', 'b1', 'c1')
('a2', 'b2', 'c2')
('a3', 'b3', 'c3')

        - 하나라도 인덱스 값이 일치하지 않는 요소가 있을 경우 출력하지 않는다.

In [9]:
alist = [1, 2, 3]
blist = [4, 5, 6, 7]
clist = [8, 9, 10, 11]

for z1 in zip(alist, blist, clist):
    print(z1)

(1, 4, 8)
(2, 5, 9)
(3, 6, 10)

    - 같은 인덱스에 있는 숫자를 추출하여 sum() 함수를 적용하면 각각의 값을 더해 출력할 수 있다.

In [10]:
a, b, c = zip((1, 2, 3), (10, 20, 30), (100, 200, 300))
print(a, b, c)

(1, 10, 100) (2, 20, 200) (3, 30, 300)

In [12]:
print([sum(x) for x in zip((1, 2, 3), (10, 20, 30), (100, 200, 300))])

[111, 222, 333]

In [13]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']

for i, (a, b) in enumerate(zip(alist, blist)):
    print(i, a, b)

0 a1 b1
1 a2 b2
2 a3 b3