In [1]:
import usecsv, os

os.listdir()

['.ipynb_checkpoints',
 'abc.csv',
 'apt_202305.csv',
 'friends1-01 파일 입출력 예제.ipynb',
 'friends101.txt',
 'monica.txt',
 'newPop.csv',
 'popSeoul2023.csv',
 'scv_file 처리.ipynb',
 'would.txt',
 '부동산 실거래가 분석.ipynb',
 '서울시 외국인 인구 분석하기.ipynb']

In [17]:
apt = usecsv.switch(usecsv.opencsv('apt_202305.csv'))
print(apt[:3])
print(len(apt))

[['시군구', '번지', '단지명', '전용면적(㎡)', '거래금액(만원)', '층', '도로명', '거래유형'], ['강원도 강릉시 교동', 1982.0, '강릉교동롯데캐슬1단지', 135.1727, 59000.0, 4.0, '화부산로99번길 12', '중개거래'], ['강원도 강릉시 교동', 1983.0, '강릉교동롯데캐슬2단지', 135.1008, 51500.0, 9.0, '화부산로111번길 24', '중개거래']]
32501

In [3]:
# 리스트 안의 특정 데이터만 가져올 수 있다.
for i in apt[:5]:
    print(i[0], i[2], i[3], i[4])

시군구 단지명 전용면적(㎡) 거래금액(만원)
강원도 강릉시 교동 강릉교동롯데캐슬1단지 135.1727 59,000
강원도 강릉시 교동 강릉교동롯데캐슬2단지 135.1008 51,500
강원도 강릉시 교동 교동1주공 59.89 23,200
강원도 강릉시 교동 교동3주공 59.86 27,000

In [18]:
# 강원도 120제곱미터 3억 이상
# 필요 데이터: 시군구, 전용면적, 거래금액
import re

for i in apt:
    try:
          if i[3] > 120 and i[4] >= 30000 and re.match('강원', i[0]):
            print(i[0], i[2], i[3], i[4], i[-3])
    except:
        pass

강원도 강릉시 교동 강릉교동롯데캐슬1단지 135.1727 59000.0 4.0
강원도 강릉시 교동 강릉교동롯데캐슬2단지 135.1008 51500.0 9.0
강원도 강릉시 입암동 이안강릉타운 157.34 43000.0 3.0
강원도 강릉시 홍제동 강릉홍제힐스테이트 129.689 44500.0 8.0
강원도 원주시 반곡동 반곡벽산블루밍1차 147.232 42300.0 10.0
강원도 원주시 판부면 서곡리 원주더샵아파트 148.648 43000.0 7.0
강원도 원주시 행구동 효성백년가약 128.701 32700.0 4.0
강원도 원주시 행구동 효성백년가약 128.701 30500.0 2.0
강원도 원주시 행구동 효성백년가약 128.701 31700.0 15.0
강원도 춘천시 근화동 신성미소지움 133.97 44500.0 5.0
강원도 춘천시 동면 만천리 한일유앤아이 166.5906 39000.0 7.0
강원도 춘천시 석사동 신도브래뉴 128.1497 38000.0 13.0
강원도 춘천시 석사동 현진에버빌2차 153.57 59500.0 6.0
강원도 춘천시 온의동 온의롯데캐슬스카이클래스 125.709 70000.0 21.0
강원도 춘천시 우두동 강변코아루 146.026 42000.0 8.0
강원도 춘천시 우두동 롯데인벤스 147.47 33000.0 14.0
강원도 춘천시 우두동 롯데인벤스 147.47 38000.0 2.0
강원도 춘천시 퇴계동 휴먼시아남춘천1단지 134.89 53500.0 9.0
강원도 춘천시 퇴계동 휴먼시아남춘천1단지 121.95 48500.0 1.0
강원도 춘천시 효자동 현진에버빌3차 124.804 43900.0 3.0
강원도 춘천시 효자동 현진에버빌3차 124.804 46300.0 1.0
강원도 춘천시 후평동 춘천더샵 127.2412 38200.0 4.0
강원도 춘천시 후평동 춘천더샵 145.5773 47800.0 23.0
강원도 춘천시 후평동 춘천더샵 145.4234 42400.0 10.0

- 조건에 맞는 파일만 저장하기
    - 해당 조건문으로 만든 list를 append하여 새 csv 파일로 만들 수 있다.

In [20]:
new_list = []
for i in apt:
    try:
        if i[3] > 120 and i[4] >= 30000 and re.match('강원', i[0]):
            new_list.append([i[0], i[2], i[3], i[4], i[-3]])
    except:
        pass
    
usecsv.writecsv('over120_lower30000.csv', new_list)