### 조건문

if 조건:

    조건이 True일 때 수행할 문장

else:

    조건이 False일 때 수행할 문장

In [2]:
myage = int(input("나이를 입력하세요. "))
if myage < 30 :
    print("Welcome to the Club")
else :
    print("no. u r not accepted")

나이를 입력하세요. 80
no. u r not accepted

In [3]:
# 값이 0일 경우 False이다.
if 0.0 :
    print('True')
else :
    print('False')

False

In [4]:
# 값이 빈 문자열일 경우 False이다.
if "" :
    print('True')
else :
    print('False')

False

In [5]:
# 값이 있을 경우(공백 포함) True이다.
if 10 :
    print('True')
else :
    print('False')

True

In [6]:
# 타입이 맞지 않을 경우 자동으로 형변환을 진행한다.(조건식의 결과(True/False)를 int로 변환)
print((3 > 5) < 10)

True

In [7]:
score = int(input("enter your score : "))

if score >= 90: grade = 'A'
elif score >= 80: grade = 'B'
elif score >= 70: grade = 'C'
elif score >= 60: grade = 'D'
else: grade = 'F'

print(grade)

enter your score : 77
C

#### For
- for 변수 in 리스트: 반복 수행할 문장
- for 변수 in range(끝 + 1): 반복 수행할 문장
- for 변수 in range(시작, 끝 + 1): 반복 수행할 문장
- for 변수 in range(시작, 끝 + 1, 증가값): 반복 수행할 문장

In [9]:
for i in [1, 2, 3, 4, 5]:
    print(i, end = " ")
# for문이 끝나도 i 변수는 사용 가능하다.
print(i)

1 2 3 4 5 5

In [10]:
for looper in [1, 2, 3, 4, 5]:
    print("hello")
    
# 사용하지 않는 변수는 _로 대신 처리할 수 있다.
for _ in [1, 2, 3, 4, 5]:
    print("world")

hello
hello
hello
hello
hello
world
world
world
world
world

In [16]:
# for문으로 0, 1, 2 출력하기
for i in [0, 1, 2]:
    print(i, end = ", ")

0, 1, 2,

In [17]:
# 1, 2, 3 출력
for i in [1, 2, 3]:
    print(i)

1
2
3

In [19]:
for i in range(1, 4):
    print (i)

1
2
3

In [20]:
# 0, 2, 4, 6, 8 출력
for i in range(0, 9, 2):
    print(i)

0
2
4
6
8

In [22]:
# 1 ~ 10까지의 합
sum = 0
for i in range(1, 11):
    sum += i
print(sum)

55

In [28]:
# 500부터 1000사이 홀수의 합(1)
sum = 0
for i in range(501, 1001, 2):
    sum += i
print(sum)

187500

In [30]:
# 500부터 1000사이 홀수의 합(2)
sum = 0
for i in range(500, 1001):
    if i % 2 != 0:
        sum += i
print(sum)

187500

In [31]:
# 구구단 2단
for i in range(1, 10):
    print("2 *", i, "=", 2 * i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [35]:
# 구구단 2단(역순)
for i in range(9, 0, -1):
    print("2 *", i, "=", 2 * i)

2 * 9 = 18
2 * 8 = 16
2 * 7 = 14
2 * 6 = 12
2 * 5 = 10
2 * 4 = 8
2 * 3 = 6
2 * 2 = 4
2 * 1 = 2

In [33]:
# 구구단: 2단 ~ 9단(1)
for i in range(2, 10):
    for j in range(1, 10):
        print(i, "*", j, "=", i * j)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [34]:
# 구구단: 2단 ~ 9단(2)
for i in range(2, 10):
    for j in range(1, 10):
        print("%d * %d = %d" %(i, j, i * j))

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [36]:
# 문자열도 배열이기에 반복문으로 출력 가능
for s in 'abcdeg':
    print(s, end = " , ")

a , b , c , d , e , g ,