## py3 실행코드

In [1]:
a = [0, 1, 2, 3, 4]
print(a[:3], a[:-3])

[0, 1, 2] [0, 1]

In [2]:
a = [0, 1, 2, 3, 4]
print(a[::-1])

[4, 3, 2, 1, 0]

In [7]:
first = ["egg", "salad", "bread", "soup", "cafe"]
second = ["fish", "lamb", "pork", "beef", "chicken"]
third = ["apple", "banana", "orange", "grape", "mango"]

order = [first, second, third]
john = [order[0][:-2], second[1::3], third[0]]
del john[2]
john.extend([order[2][0:1]])
print(john)

[['egg', 'salad', 'bread'], ['lamb', 'chicken'], ['apple']]

In [8]:
list_a = [3, 2, 1, 4]
list_b = list_a.sort()
print(list_a, list_b)

[1, 2, 3, 4] None

In [9]:
a = [5, 7, 3]
b = [3, 9, 1]
c = a + b
c = c.sort()
print(c)

None

In [10]:
fruits = ["apple", "banana", "cherry", "grape", "strawberry", "melon"]
print(fruits[-3:], fruits[1::3])

['grape', 'strawberry', 'melon'] ['banana', 'strawberry']

In [11]:
num = [1, 2, 3, 4]
print(num * 2)

[1, 2, 3, 4, 1, 2, 3, 4]

In [12]:
a = [1, 2, 3, 5]
b = ["a", "b", "c", "d" "e"]

a.append("g")
b.append(6)
print("g" in b, len(b))

False 5

In [13]:
list_a = ["Hankook", "University", "is", "an", "academic", "institute", "located", "in", "South Korea"]
list_b = []

for i in range(len(list_a)):
    if i % 2 != 1:
        list_b.append(list_a[i])
        
print(list_b)

['Hankook', 'is', 'academic', 'located', 'South Korea']

In [15]:
admission_year = input("입학 연도를 입력하세요: ")
print(type(admission_year))

입학 연도를 입력하세요: "2022"
<class 'str'>