In [1]:
import pandas as pd

In [2]:
df2 = pd.read_csv('survey.csv')

In [4]:
df2.head()

  sex  income  English  jobSatisfaction  stress
0   m    3000      500                5       5
1   f    4000      600                4       4
2   f    5000      700                3       2
3   m    6000      800                2       2
4   m    4000      700                2       5

In [8]:
df2.mean()

C:\Users\soldesk\AppData\Local\Temp\ipykernel_6716\3587575296.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2.mean()

income             4304.217391
English             608.695652
jobSatisfaction       3.304348
stress                3.347826
dtype: float64

In [9]:
df2.income.sum()

98997

In [5]:
df2.income.mean()

4304.217391304348

- 중앙값 계산

In [6]:
df2.median()

C:\Users\soldesk\AppData\Local\Temp\ipykernel_6716\1172267387.py:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2.median()

income             4999.0
English             600.0
jobSatisfaction       3.0
stress                4.0
dtype: float64

In [7]:
df2.describe()

            income     English  jobSatisfaction     stress
count    23.000000   23.000000        23.000000  23.000000
mean   4304.217391  608.695652         3.304348   3.347826
std    1019.478341   99.603959         1.258960   1.433644
min    3000.000000  500.000000         1.000000   1.000000
25%    3000.000000  500.000000         2.500000   2.000000
50%    4999.000000  600.000000         3.000000   4.000000
75%    5000.000000  700.000000         4.000000   5.000000
max    6000.000000  800.000000         5.000000   5.000000

In [13]:
df2.income.describe()

count      23.000000
mean     4304.217391
std      1019.478341
min      3000.000000
25%      3000.000000
50%      4999.000000
75%      5000.000000
max      6000.000000
Name: income, dtype: float64

In [11]:
df2.sex.value_counts()

m    14
f     9
Name: sex, dtype: int64

- 특정 그룹으로 묶어 평균을 구할 수도 있다.

In [14]:
df2.groupby(df2.sex).mean()

          income     English  jobSatisfaction    stress
sex
f    4333.111111  633.333333         3.666667  3.111111
m    4285.642857  592.857143         3.071429  3.500000

- scipy 함수로 t검정

In [15]:
from scipy import stats
# stats: 통계 관련 함수를 많이 포함하고 있는 모듈

In [16]:
male = df2.income[df2.sex == 'm']
female = df2.income[df2.sex == 'f']

In [21]:
# t 검정 실행 - t검정을 통해 데이터간의 비교 신뢰도 분석이 가능하다.
ttest_result = stats.ttest_ind(male, female)
print(ttest_result)

Ttest_indResult(statistic=-0.10650308143428425, pvalue=0.9161940781163369)

In [20]:
if ttest_result[1] > 0.05:
    print('p-value는 %f로 95프로 수준에서 유의하지 않음' % ttest_result[1])
else:
    print('p-value는 %f로 95프로 수준에서 유의함' % ttest_result[1])

p-value는 0.916194로 95프로 수준에서 유의하지 않음

- 피어슨과 스피어만 상관관계 분석 알아보기
    - 상관관계 계수가 0이면 관계가 없음
    - 판다스에서는 corr() 함수로 가능

In [27]:
corr=df2.corr()
print(corr)

                   income   English  jobSatisfaction    stress
income           1.000000  0.599452        -0.040108 -0.137920
English          0.599452  1.000000        -0.312051  0.073351
jobSatisfaction -0.040108 -0.312051         1.000000  0.165338
stress          -0.137920  0.073351         0.165338  1.000000

C:\Users\soldesk\AppData\Local\Temp\ipykernel_6716\2527264366.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr=df2.corr()

In [24]:
df2.corr(method = 'spearman')

C:\Users\soldesk\AppData\Local\Temp\ipykernel_6716\2520487563.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2.corr(method = 'spearman')

                   income   English  jobSatisfaction    stress
income           1.000000  0.543705        -0.100683 -0.170584
English          0.543705  1.000000        -0.309747  0.068223
jobSatisfaction -0.100683 -0.309747         1.000000  0.154982
stress          -0.170584  0.068223         0.154982  1.000000

In [25]:
# 수입과 스트레스의 상관관계 분석
df2.income.corr(df2.stress)

-0.13791959796123446

In [28]:
corr.to_csv('corr.csv')

- 회귀 분석
    - 변수 사이의 인과관계 파악가능
    - ols(formula = '종속 변수~독립변수', data=데이터프레임)

In [30]:
import statsmodels.formula.api as smf

In [32]:
model = smf.ols(formula = 'jobSatisfaction ~ English', data = df2)
result = model.fit()

print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:        jobSatisfaction   R-squared:                       0.097
Model:                            OLS   Adj. R-squared:                  0.054
Method:                 Least Squares   F-statistic:                     2.266
Date:                Mon, 12 Jun 2023   Prob (F-statistic):              0.147
Time:                        16:59:23   Log-Likelihood:                -36.243
No. Observations:                  23   AIC:                             76.49
Df Residuals:                      21   BIC:                             78.76
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      5.7052      1.615      3.532      0.002       2.346       9.065
English       -0.0039      0.003     -1.505      0.147      -0.009       0.002
==============================================================================
Omnibus:                        0.120   Durbin-Watson:                   0.777
Prob(Omnibus):                  0.942   Jarque-Bera (JB):                0.306
Skew:                          -0.126   Prob(JB):                        0.858
Kurtosis:                       2.495   Cond. No.                     3.90e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.9e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

- 다중회귀 분석 연습

In [38]:
model2 = smf.ols(formula = 'jobSatisfaction ~ English + stress + income', data = df2)
result2 = model.fit()

print(result2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:        jobSatisfaction   R-squared:                       0.097
Model:                            OLS   Adj. R-squared:                  0.054
Method:                 Least Squares   F-statistic:                     2.266
Date:                Mon, 12 Jun 2023   Prob (F-statistic):              0.147
Time:                        17:10:09   Log-Likelihood:                -36.243
No. Observations:                  23   AIC:                             76.49
Df Residuals:                      21   BIC:                             78.76
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      5.7052      1.615      3.532      0.002       2.346       9.065
English       -0.0039      0.003     -1.505      0.147      -0.009       0.002
==============================================================================
Omnibus:                        0.120   Durbin-Watson:                   0.777
Prob(Omnibus):                  0.942   Jarque-Bera (JB):                0.306
Skew:                          -0.126   Prob(JB):                        0.858
Kurtosis:                       2.495   Cond. No.                     3.90e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.9e+03. This might indicate that there are
strong multicollinearity or other numerical problems.