## 자료 구조

### 리스트의 입출력

- stack
    - 가장 마지막에 넣은 값이 가장 먼저 출력되는 Last in, first out 구조
    - append() 함수를 이용하여 값을 추가, pop()함수를 이용하여 값 출력

In [1]:
word = input('input a word: ')
word_list = list(word) # 문자열을 list로 변환한다.
print(word_list)

result = []
for _ in range(len(word_list)):
    result.append(word_list.pop()) # Last in, First out => 역순으로 저장됨.

print(result) # 역순으로 저장된 배열이 출력
print(word[::-1]) # 역순으로 저장된 순서대로 출력

input a word: PYTHON
['P', 'Y', 'T', 'H', 'O', 'N']
['N', 'O', 'H', 'T', 'Y', 'P']
NOHTYP

- queue
    - 맨 처음 값을 가져오는 first in, first out
    - 구현법은 stack과 같지만 인덱스가 0번째인 값을 사용한다는 의미로 pop(0)을 시용한다.

In [4]:
a = [1, 2, 3, 4, 5]
a.append(10) # [1, 2, 3, 4, 5, 10]
a.append(20) # [1, 2, 3, 4, 5, 10, 20]
print(a.pop(0))
print(a.pop(0))

1
2

### 리스트의 생성

In [5]:
# 빈 리스트 생성
aa = []
bb = list()

# 빈 리스트도 출력 가능.
print(aa, bb)

[] []

In [6]:
# range를 이용한 list 생성
# 반드시 list 함수와 같이 사용해야 한다.
a1 = list(range(10))
a2 = list(range(10, 0, -1))
a3 = list(range(5, 12))
a4 = list(reversed(range(10)))

print(a1, a2, a3, a4, sep='\n')

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[5, 6, 7, 8, 9, 10, 11]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [7]:
# 문자열 list
s1 = list('hello')
print(s1)

['h', 'e', 'l', 'l', 'o']

In [8]:
a = [0, 0, 0, 0, 0]
b = a

print(a is b)

b[2] = 99
print(a, b)

True
[0, 0, 99, 0, 0] [0, 0, 99, 0, 0]

- copy()

In [9]:
a = [0, 0, 0, 0, 0]
b = a.copy() # 똑같은 데이터를 저장하고 있는 새로운 list 생성

print(a is b) # copy로 리스트를 새로 생성한 경우 같은 내용을 가진 두 개의 리스트이기때문에 주소값이 같지 않다.
print(a == b) # a와 의 값은 같기 때문에 true

b[2] = 99 # 리스트 b에만 적용된다.
print(a, b)

False
True
[0, 0, 0, 0, 0] [0, 0, 99, 0, 0]

- sort() / sorted()

In [10]:
a = [1, 4, 6, 8, 3, 2]
b = a.sort() # a의 배열만 새로 정렬

print(a)
print(b) # b에는 return할 값이 존재하지 않으므로 None이 출력된다.

[1, 2, 3, 4, 6, 8]
None

In [11]:
a = [1, 4, 6, 8, 3, 2]
b = sorted(a) # 정렬된 a 배열이 새로 생성 => 원본 리스트는 바뀌지 않는다.

print(a)
print(b)

[1, 4, 6, 8, 3, 2]
[1, 2, 3, 4, 6, 8]

### 기타 구조

- tuple
    - 리스트와 유사하나 데이터의 변경이 불가능하다.
    - 리스트에서 사용하는 연산, 인덱싱, 슬라이싱은 모두 사용 가능하다.
    - 변경되어야 하지 않는 정보를 저장하는 데 주로 사용한다.

In [12]:
tt1 = (10, 20, 30)
# 변수 하나에 값을 여러 개 넣으면 자동으로 tuple 타입으로 저장된다.
tt2 = 10, 20, 30

print(tt1, tt2, type(tt2))

(10, 20, 30) (10, 20, 30) <class 'tuple'>

In [13]:
# 비어 있는 튜플도 생성은 가능하다.
# 단, 데이터 추가와 변경은 불가능.
t = tuple()

print(t)

()

In [14]:
# 요소가 하나인 튜플 생성
tt3 = 10,

print(tt3, type(tt3))

tt4 = (10) # 뒷부분에 ,표시가 없으면 int로 저장됨.
print(tt4, type(tt4))

tt5 = (10,)
print(tt5, type(tt5))

(10,) <class 'tuple'>
10 <class 'int'>
(10,) <class 'tuple'>

In [15]:
a = tuple()
a1 = tuple(range(10)) # 0~9까지의 자료를 가진 tuple

# 튜플의 데이터를 리스트로 추가하여 내용을 변경하고 싶은 경우
# list -> tuple
a2 = tuple([1, 2, 3, 4])
# tuple -> list
a3 = list(a1)

print(a2)
print(a3)

(1, 2, 3, 4)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
del(a1) # 튜플 자체를 삭제할 수 있다.

##### 튜플 < - > 인덱스 연습

In [18]:
my_tuple = (10, 20, 30)
# 3번 인덱스에 40 추가

tuple_to_list = list(my_tuple)
tuple_to_list.append(40)

new_tuple = tuple(tuple_to_list)

print(my_tuple)
print(tuple_to_list)
print(new_tuple)

(10, 20, 30)
[10, 20, 30, 40]
(10, 20, 30, 40)

     - 강사님 코드

In [19]:
my_tuple = (10, 20, 30)
# 3번 인덱스에 40 추가

my_list = list(my_tuple)
my_list.append(40)

# 이름이 같아도 됨
my_tuple = tuple(my_list)

print(my_tuple)

(10, 20, 30, 40)

- set
    - 값을 순서 없이 저장하면서 중복은 허용하지 않는다.
    - {} 형태로 표현
    - 삭제나 변경 가능, 집합 연산 제공
    - 추가는 add()(하나 추가) / update()(리스트 추가), 삭제는 remove() / discard() / clear()(모든 원소 삭제)

In [20]:
s = set([5, 1, 2, 3, 1, 2, 4])
print(s)

s.add(6)
s.add(1)
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}

In [21]:
s1 = {1, 2, 3, 1}
print(s1, type(s1))

l1 = list(s1)
print(l1, type(l1))

{1, 2, 3} <class 'set'>
[1, 2, 3] <class 'list'>

In [22]:
# 단순히 비어있는 {}만 사용한다면 dictionary 형태의 자료구조가 만들어진다.
d1 = {}
print(d1, type(d1))

{} <class 'dict'>

- 집합

In [24]:
s1 = set([1, 2, 3, 4, 5])
s2 = set([3, 4, 5, 6, 7])

print(s1.union(s2)) # s1과 s2의 합집합
print(s1 | s2) # set([1, 2, 3, 4, 5, 6, 7])
print(s1.intersection(s2)) #s1과 s2의 교집합
print(s1 & s2) # set([3, 4, 5])
print(s1.difference(s2)) # s1과 s2의 차집합
print(s1 - s2) # set([1, 2])

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{3, 4, 5}
{1, 2}
{1, 2}

- dictionary

In [25]:
# dictionary 자료구조의 선언
d = dict()
print(d)

{}

In [27]:
# dictionary 선언
c_code = {'America':1, 'Korea':82, 'China':86, 'Japan':81}
print(c_code)
# key, value 출력
print(c_code.keys())
print(c_code.values())

{'America': 1, 'Korea': 82, 'China': 86, 'Japan': 81}
dict_keys(['America', 'Korea', 'China', 'Japan'])
dict_values([1, 82, 86, 81])

In [28]:
# 새로운 데이터 추가
c_code['German'] = 49
print(c_code)

{'America': 1, 'Korea': 82, 'China': 86, 'Japan': 81, 'German': 49}

In [29]:
for k, v in c_code.items():
    print('country:', k)
    print('code:', v)

country: America
code: 1
country: Korea
code: 82
country: China
code: 86
country: Japan
code: 81
country: German
code: 49

In [30]:
# 삭제 시 key 값으로 지정하여 삭제
del(c_code['China'])
print(c_code)

{'America': 1, 'Korea': 82, 'Japan': 81, 'German': 49}