## 넘파이

#### 넘파이로 배열 생성하기

In [2]:
import numpy as np

a = np.array([[2, 3], [5, 2]])
print(a)

[[2 3]
 [5 2]]

#### 넘파이로 배열 슬라이싱

In [4]:
d = np.array([[1, 2, 3, 4, 5], [2, 4, 6, 8, 10], [5, 6, 7, 8, 9]])

print(d[0][0])
print(d[0][-1])
print(d[1:, 2:], type(d[1:, 3:]))

1
5
[[ 6  8 10]
 [ 7  8  9]] <class 'numpy.ndarray'>

- shape: 배열의 행과 열을 튜플로 반환한다

In [5]:
d = np.array([2, 3, 4, 5, 6])

print(d)
print(d.shape)

e = np.array([[1, 2, 3, 4], [3, 4, 5, 6]])
print(e)
print(e.shape)

[2 3 4 5 6]
(5,)
[[1 2 3 4]
 [3 4 5 6]]
(2, 4)

- dtype: 타입과 용량(bite) 반환

In [6]:
print(d.dtype)

int32

- np.arange(): 연속형 정수 생성
- astype: 자료형 변환

In [8]:
data = np.arange(1, 5)
print(data)

data = data.astype('float64')
print(data)

[1 2 3 4]
[1. 2. 3. 4.]

- np.zeros(): 다차원 배열 형성
- np.ones()

In [9]:
print(np.zeros((1, 5)))
print(np.ones((2, 3)))
print(np.ones((3, )))

[[0. 0. 0. 0. 0.]]
[[1. 1. 1.]
 [1. 1. 1.]]
[1. 1. 1.]

- np.transpose()

In [10]:
a = np.ones((2, 3))
print(a)

b = np.transpose(a)
print(b)
print(b.shape)

[[1. 1. 1.]
 [1. 1. 1.]]
[[1. 1.]
 [1. 1.]
 [1. 1.]]
(3, 2)

### 배열의 사칙연산

In [11]:
arr1 = np.array([[2, 3, 4], [6, 7, 8]])
arr2 = np.array([[12, 23, 14], [36, 47, 58]])

- 배열의 덧셈: 배열의 같은 자리 원소끼리 더함

In [12]:
print(arr1 + arr2)

[[14 26 18]
 [42 54 66]]

- 배열의 곱셈: 같은 자리의 원소끼리 곱함

        - 행렬의 도트곱셈과는 다르다.

In [13]:
print(arr1 * arr2)

[[ 24  69  56]
 [216 329 464]]

- 배열의 나눗셈: 같은 자리 원소끼리 나눔

In [14]:
print(arr1 / arr2)

[[0.16666667 0.13043478 0.28571429]
 [0.16666667 0.14893617 0.13793103]]

- 크기가 서로 다른 배열의 덧셈: 행과 열의 크기를 만족시키면 덧셈 가능

In [15]:
# 행만 같은 경우 모든 행에 덧셈이 진행된다.
arr3 = np.array([100, 200, 300])
print(arr1 + arr3)

# 행과 열의 크기가 모두 같을 경우 오류가 발생한다.

[[102 203 304]
 [106 207 308]]

#### 배열과 리스트의 차이

- 리스트는 데이터의 일부를 변경할 수 없지만, 배열은 가능하다.

In [17]:
d = np.array([[1,2,3,4,5],[2,4,5,6,7],[6,5,7,8,9]])
d_list = [[1,2,3,4,5],[2,4,5,6,7],[6,5,7,8,9]]

In [18]:
# 리스트로 슬라이싱한 값을 새로 바꾸는 것은 불가능하다.
d_list[:2] = 0

TypeError: can only assign an iterable

In [20]:
# 배열은 슬라이싱한 데이터를 바꾸는 것도 가능하다.
d[:2] = 0
print(d)

[[0 0 0 0 0]
 [0 0 0 0 0]
 [6 5 7 8 9]]

In [21]:
# 0 ~ 9까지의 원소를 가지는 배열을 arr4에 저장
arr4 = np.arange(0, 10)
print(arr4)

[0 1 2 3 4 5 6 7 8 9]

In [22]:
# 0부터 5개의 원소를 슬라이싱해서 출력
print(arr4[:5])

[0 1 2 3 4]

In [27]:
# 뒤에서 세 번째 원소부터 마지막 원소까지 슬라이싱해서 출력
print(arr4[-3:])

[7 8 9]

In [31]:
arr1 = np.array([[2, 3, 4], [6, 7, 8]])
# arr1의 모든 리스트의 세 번째 원소들을 슬라이싱해서 출력 array([4, 8])
print(arr1[:,2])

[4 8]