## py3 실행코드

In [1]:
a = [0, 1, 2, 3, 4]
print(a[:3], a[:-3])

[0, 1, 2] [0, 1]

In [2]:
a = [0, 1, 2, 3, 4]
print(a[::-1])

[4, 3, 2, 1, 0]

In [7]:
first = ["egg", "salad", "bread", "soup", "cafe"]
second = ["fish", "lamb", "pork", "beef", "chicken"]
third = ["apple", "banana", "orange", "grape", "mango"]

order = [first, second, third]

john = [order[0][:-2], second[1::3], third[0]] # thrid의 경우 'apple'이라는 문자열인 상태이다.

del john[2] # 문자열 'apple' 삭제

john.extend([order[2][0:1]]) # ['apple'] 배열이 추가된다.

print(john)

[['egg', 'salad', 'bread'], ['lamb', 'chicken'], ['apple']]

In [8]:
list_a = [3, 2, 1, 4]
list_b = list_a.sort()
print(list_a, list_b)

[1, 2, 3, 4] None

In [9]:
a = [5, 7, 3]
b = [3, 9, 1]
c = a + b
c = c.sort()
print(c)

None

In [10]:
fruits = ["apple", "banana", "cherry", "grape", "strawberry", "melon"]
print(fruits[-3:], fruits[1::3])

['grape', 'strawberry', 'melon'] ['banana', 'strawberry']

In [11]:
num = [1, 2, 3, 4]

# 배열과 정수를 곱할 경우 배열이 두 번 저장된다.
print(num * 2)

[1, 2, 3, 4, 1, 2, 3, 4]

In [4]:
a = [1, 2, 3, 5]
b = ["a", "b", "c", "d", "e"]

a.append("g")
b.append(6)
print("g" in b, len(b))

False 6

In [13]:
list_a = ["Hankook", "University", "is", "an", "academic", "institute", "located", "in", "South Korea"]
list_b = []

for i in range(len(list_a)):
    if i % 2 != 1:
        list_b.append(list_a[i])
        
print(list_b)

['Hankook', 'is', 'academic', 'located', 'South Korea']

In [15]:
admission_year = input("입학 연도를 입력하세요: ") # input으로 입력받은 값은 무조건 'str' 타입이다.
print(type(admission_year))

입학 연도를 입력하세요: "2022"
<class 'str'>

In [1]:
country = ["Korea", "Japan", "China"]
capital = ["Seoul", "Tokyo", "Beijing"]

index = [1, 2, 3]

country.append(capital)

country[3][1] = index[1:] # tokyo 값에 index 배열의 1번 이후 인덱스 값의 배열을 저장

print(country)

['Korea', 'Japan', 'China', ['Seoul', [2, 3], 'Beijing']]

In [5]:
week1 = ["Mon", "Tue", "Wed"]
week2 = ["Thu", "Fri", "Sat", "Sun"]
# ["Thu", "Fri"] 가 답이 되도록 week3 작성
week3 = [week1 + week2] # week3는 길이가 1인 배열이면 무엇이든 상관 없다.
# week1과 week2를 더한 week3은 길이가 1인 이차원 배열이 된다.

print(week2[:len(week3) + 1]) # len(week3) + 1 = 2

['Thu', 'Fri']

In [2]:
a = 1
b = 1
print(a is b)

a2 = 300
b2 = 300
print(a2 is b2)

True
False

In [3]:
a = [5, 4, 3, 2, 1]
b = a
c = [5, 4, 3, 2, 1]

print(a is b)
print(a is c)

True
False